@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Light.ttf');
}

* {
    font-family: 'Poppins';
}

body {
    margin: 0;
    font-family: 'Poppins';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}