.alert {
    position: fixed;
    top: 0;
    right: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    padding: 2rem;
    background: #333;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    z-index: 999;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
}

.success {
    background-color: rgb(0, 201, 0);
}

.failed {
    background-color: rgb(224, 0, 0);
}