.row {
    display: flex;
    margin: 10px;
}

.leftcolumn {
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
    .row {
        flex-direction: column;
    }
    .s-card {
        flex-wrap: nowrap;
    }
}

.card {
    border: 1px solid #a4a4a4;
    transition: 0.3s;
    width: 99%;
    display: flex;
    margin-bottom: 10px;
    overflow: hidden;
}

.card:hover {
    box-shadow: 4px 4px 0 #000;
    /* transform: translate(-4px, -4px); */
}

.card * {
    margin: 0;
    padding: 0;
}

.card img {
    max-height: 350px !important;
    width: 40%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-content {
    padding: 20px;
    width: 100%;
    position: relative;
}

.card-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card .card-head h3 {
    color: rgb(255, 102, 0);
    padding: 10px;
}

.card .card-classification {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.card .card-main p {
    margin: 10px 0;
}

.card .home-slide-buttons {
    margin-top: 20px;
    padding: 10px 16px;
    margin-right: 20px;
}

@media screen and (max-width: 600px) {
    .card {
        flex-direction: column;
        width: 98.5%;
    }
    .card img {
        width: 100%;
    }
    .card-content {
        width: 93%;
    }
}

@media screen and (max-width: 600px) {
    .card-head h2 {
        font-size: 20px;
    }
    .card .card-classification {
        width: 100%;
        margin-bottom: 10px;
    }
    .card .card-classification h4 {
        font-size: 18px;
    }
    .card-main p {
        display: none;
    }
}