.icon-bar-horizontal {
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.icon-bar-horizontal a {
    display: block;
    text-align: center;
    padding: 10px 0;
    color: white;
    font-size: 15px;
    width: 100%;
    transition: .2s;
}

.icon-bar-horizontal a:hover {
    background-color: black;
}

.facebook {
    background: #3B5998;
    color: white;
}

.telegram {
    background: #55ACEE;
    color: white;
}

.instagram {
    background: #d62976;
    color: white;
}

.whatsapp {
    background: #58e672;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}