.row1 {
    display: flex;
    margin: 10px;
    flex-direction: row;
}

.leftcolumn11 {
    float: left;
    width: 70%;
}

.rightcolumn11 {
    float: left;
    width: 25%;
}

.row1:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .leftcolumn1,
    .rightcolumn1 {
        width: 100%;
        padding: 0;
    }
    .row1 {
        flex-direction: column;
    }
}

.filter {
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    border: 1px solid #a4a4a4;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
    margin: 10px;
}